*.pc
*.swp
*bak
*orig
*rej
*~
/Makefile.in
/debian
BUILD-env.sh
Makefile
aclocal.m4
autom4te.cache/
compile
compile_flags.txt
confdefs.h
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
netifyd-*.tar.gz
netifyd-*.txz
netifyd-CentOS_8.spec
stamp-h1
test-driver
ylwrap
