*.pc
*.sum
*.swp
*bak
*.distinfo
*orig
*rej
*~
/Makefile.in
/debian
BUILD-env.sh
Makefile
aclocal.m4
autom4te.cache/
compile
compile_flags.txt
confdefs.h
config.*
configure
depcomp
distinfo
install-sh
libtool
ltmain.sh
missing
netifyd-CentOS_8.spec
netifyd-*.tar.gz
netifyd-*.txz
stamp-h1
test-driver
ylwrap
